<mat-toolbar color="primary">
  <a routerLink="/" class="headers"><span>My App</span></a>

  <span class="example-spacer"></span>
  <a routerLink="/auth/login"><span class="headers">Login</span></a>
  <a routerLink="/auth/signup"><span class="headers">Sign Up</span></a>
  <div [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <span class="headers">User</span>
  </div>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/memories">
      <mat-icon class="material-icons">person</mat-icon>
      <span>Profile</span>
    </a>
    <a mat-menu-item routerLink="/memories">
      <mat-icon class="material-icons">done</mat-icon>
      <span>Orders</span>
    </a>
    <a (click)="logOut()" mat-menu-item routerLink="/">
      <mat-icon class="material-icons">logout</mat-icon>
      <span>Logout</span>
    </a>
  </mat-menu>
  <a routerLink="/cart" class="headers">
    <i class="fa" style="font-size: 21px">&#xf07a;</i>
    <span class="badge badge-warning" id="lblCartCount"> 5 </span>
  </a>
</mat-toolbar>
