/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #153d77;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --success-color: #198754;
  --delete-color: #dc3545;
  --background-color: #f2f2f2;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* mat-icon:hover {
  color: aqua;
}
.mat-icon-button:hover .mat-button-focus-overlay {
  color: aqua !important;
} */
.visually-hidden {
  visibility: hidden;
  position: absolute;
}
.green-snackbar {
  --mdc-snackbar-container-color: var(--success-color);
  text-align: center;
  text-align: center;
}
/* .red-snackbar {
  background: rgb(242, 44, 44);
  color: white;
  text-align: center;
} */
.red-snackbar {
  color: yellow;
  --mdc-snackbar-container-color: var(--delete-color);
  text-align: center;
}
